*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}
.wrapper{
    width: 100%;
    height: 500px;
    position: relative;
    overflow-x: hidden;
    background: #000;
}
.wrapper span{
    position: absolute;
    white-space: nowrap;
    color: #fff;
}
.input-cond{
	margin-top: 10px;
	text-align: center;
}
.input-cond input{
	line-height: 28px;
}
.input-cond .prompt{
	color: #f40;
}
