*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}
html,
body{
	height: 100%;
}
body{
	position: relative;
}
.wrapper{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 80px;
    overflow-x: hidden;
    background: #ddd;
}
.wrapper span{
    position: absolute;
    white-space: nowrap;
    color: #424242;
}
/*底部输入区*/
.input-cond{
	text-align: center;
	width: 100%;
	height: 80px;
	line-height: 80px;
	background: #000;
	position: absolute;
	bottom: 0;
}
.input-cond input{
	line-height: 28px;
}
.input-cond .prompt{
	color: #f40;
}
